$color-rgba: rgba(255, 235, 205, 0.726);

/*Footer - Inicio*/

.contenedor-footer{
    background-image: url(/assets/fondo-footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    max-width: 100%;
    overflow: hidden;
    
    .nombre-footer-index{
        position: relative;
        top:25%;
        left: 26%;

        span{
            font-size: 40px;
        }
    }
    
    .nombre2-footer-index{
        position: relative;
        top:17%;
        left: 5%;
        color: $color-rgba;
        font-size: 50px;

        span{
            font-size: 55px;
        }
    }

    .footer-index{
        font-size: 15px;
        position: relative;
        top:25%;
        left: 20%;
        color: blanchedalmond;
    }

    .redes-index{
        font-weight: bold;
        text-decoration: underline;
        font-size: 20px;
        color: blanchedalmond;
    }
}

@media screen and (min-width: 480px){

    .contenedor-footer{

        .nombre-footer-index{
            position: relative;
            top:37%;
            left: 18%;
            color: black;
        
            span{
                font-size: 5em;
            }
        }

        .nombre2-footer-index{
            position: relative;
            top:23%;
            left: 13%;
            color: $color-rgba;
        
            span{
                font-size: 2em;
            }
        }

        .footer-index{
            font-size: 20px;
            position: relative;
            top: -5%;
            left: 60%;
            color: $color-rgba;
    
            .redes-index{
                font-weight: bold;
                text-decoration: underline;
                font-size: 25px;
                color: $color-rgba;
            }
        }
    }
}

/*Footer - Fauna*/

.contenedorfauna-footer{
    background-image: url(../ASSETS/foote-fauna.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    max-width: 100%;
    overflow: hidden;

    .nombre-footer-fauna{
        position: relative;
        top: 25%;
        left: 25%;
        color: $color-rgba;

        span{
            font-size: 3.3em;
        }
    }
    .nombre2-footer-fauna{
        position: relative;
        top:15%;
        left: 10%;
        color: $color-rgba;

        span{
            font-size: 4em;
        }
    }
    .footer-fauna{
        position: relative;
        top: 18%;
        left: 20%;
        color: $color-rgba;

        .redes-fauna{
            font-size: 1.5em;
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 480px){

    .contenedorfauna-footer{

        .nombre-footer-fauna{
            position: relative;
            top: 33%;
            left: 15%;

            span{
                font-size: 5em;
            }
        }
        .nombre2-footer-fauna{
            position: relative;
            top: 20%;
            left: 10%;

            span{
                font-size: 6em;
            }
        }
        .footer-fauna{
            position: relative;
            top:-8%;
            left: 60%;
            font-size: 1.2em;
        }
    }
}

/*Footer - Geografia*/

.contenedorgeo-footer{
    background-image: url(../ASSETS/footer-geo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 90vh;

    .nombre-footer-geo{
        position: relative;
        top: 25%;
        left: 25%;

        span{
            font-size: 45px;
        }
    }

    .nombre2-footer-geo{
        position: relative;
        top: 18%;
        left: 13%;
        
        span{
            font-size: 55px;
            color: $color-rgba;
        }
    }

    .footer-geo{
        position: relative;
        top: 20%;
        left: 20%;

        p{
            color: $color-rgba;
        }

        .redes-geo{
            font-size: 25px;
            font-weight: bold;
            color: $color-rgba;
        }
    }
}

@media screen and (min-width: 480px){

    .contenedorgeo-footer{
        .nombre-footer-geo{
            position: relative;
            top: 35%;
            left: 25%;

            span{
                font-size: 5em;
            }
        }

        .nombre2-footer-geo{
            position: relative;
            top: 21%;
            left: 18%;

            span{
                font-size: 6em;
            }
        }

        .footer-geo{
            position: relative;
            top: -8%;
            left: 63%;

            p{
                font-size: 1.3em;
            }
        }
    }
}

/*Footer - Cultura*/

.contenedorcul-footer{
    background-image: url(../ASSETS/footer-cultura2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 90vh;

    .nombre-footer-cul{
        position: relative;
        top: 25%;
        left: 25%;

        span{
            font-size: 45px;
        }
    }

    .nombre2-footer-cul{
        position: relative;
        top: 18%;
        left: 13%;
        
        span{
            font-size: 55px;
            color: $color-rgba;
        }
    }

    .footer-cul{
        position: relative;
        top: 20%;
        left: 20%;

        .redes-cul{
            font-size: 25px;
            font-weight: bold;
        }
    }
}

@media screen and (min-width: 480px){

    .contenedorcul-footer{

            .nombre-footer-cul{
                position: relative;
                top: 35%;
                left: 25%;
        
                span{
                    font-size: 5em;
                }
            }
        
            .nombre2-footer-cul{
                position: relative;
                top: 21%;
                left: 18%;
        
                span{
                    font-size: 6em;
                }
            }
        
            .footer-cul{
                position: relative;
                top: -8%;
                left: 63%;
        
                p{
                    font-size: 1.3em;
                }
            }

    }
}