$color-secondary: blanchedalmond;

/*Header - Inicio*/
.index{

    background-image: url(../../assets/Ballena\ austral\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    width: 100%;
    
    div{
            
        .nav{
        display: flex;
        justify-content: center;
        padding: 10px;
    
            a{
                color: $color-secondary;
                font-size: 18px;
                text-decoration: none;
                display: flex;
                justify-content: center;
                padding: 0 15px;
            }

            a:hover{
                color: coral;
            }
    
        }
    }

    .titulo-header1{
        margin: 0;
        font-size: 3em;
        position: absolute;
        top:44%;
        left:6%;
    }

    .titulo2-header1{
        font-size: 4em;
        position: absolute;
        top: 48%;
        color: $color-secondary;
    }
    .slogan1{
        font-size: 20px;
        color: $color-secondary;
        position: absolute;
        top: 90%;
        left: 22%;
    }
}
    
        
@media screen and (min-width: 480px){
    
    .index{
        .titulo-header1{
            position: absolute;
            top:39%;
            left: 15%;
            font-size: 6em;
        }
        
        .titulo2-header1{
            position: absolute;
            top:46%;
            left: 10%;
            font-size: 7em;
        }
        .slogan1{
            font-size: 25px;
            color: $color-secondary;
            position: absolute;
            top: 90%;
            left: 43%;
        }
    
    }

    .nav{
        justify-content:center;
        padding: 10px 30px;

        a{
            color: $color-secondary;
            font-size: 20px;
            text-decoration: none;
            display: flex;
            justify-content:center;
            padding: 0px 30px;
        }

        a:hover{
            color: coral;
        }
        
    }
    
}
/*Header - Fauna*/

.fauna{
    overflow: hidden;
    background-image: url(../../assets/pumma.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.f-pampeana{
    height: 100%;
    width: 100%;
    padding: 50px 15px;
    text-align: center;
    margin:20px 0;
}

div{
            
    .nav{
    display: flex;
    justify-content: center;
    padding: 10px;

        a{
            color: $color-secondary;
            font-size: 18px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            padding: 0 15px;
        }

        a:hover{
            color: coral;
        }
    }
}

.titulo-header{
margin: 0;
font-size: 3em;
position: absolute;
top:44%;
left:6%;
}

.titulo2-header{
    font-size: 4em;
    position: relative;
    top: 35%;
    color: $color-secondary;
}

.slogan{
    font-size: 20px;
    color: $color-secondary;
    position: absolute;
    top: 87%;
    left: 37%;
}

@media screen and (min-width: 480px){

    .nav{
        justify-content:center;
        padding: 10px 30px;

        a{
            color: $color-secondary;
            font-size: 20px;
            text-decoration: none;
            display: flex;
            justify-content:center;
            padding: 0px 30px;
        }

        a:hover{
            color: coral;
        }
    }

    .titulo-header{
        position: absolute;
        top:39%;
        left: 15%;
        font-size: 6em;
    }

    .titulo2-header{
        position: absolute;
        top:46%;
        left: 10%;
        font-size: 7em;
    }

    .slogan{
        font-size: 25px;
        color: $color-secondary;
        position: absolute;
        top: 90%;
        left: 43%;
    }
}

/*Header - Geografía*/

.geografia{
    overflow: hidden;
    background-image: url(../../assets/Las\ islas\ Malvinas\ en\ frente\ a\ la\ ciudad\ de\ Rio\ Gallegos\ capital\ de\ la\ provincia\ de\ santa\ Cruz\ geografia\ argentina\ Faustto\ Guerrero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;

    div{
        
        .nav{
            display: flex;
            justify-content: center;
            padding: 10px;

            a{
                color: $color-secondary;
                font-size: 18px;
                text-decoration: none;
                display: flex;
                justify-content: center;
                padding: 0 15px;
            }

            a:hover{
                color: coral;
            }
        }
    }

    .titulo-header1{
        margin: 0;
        font-size: 3em;
        position: absolute;
        top:44%;
        left:6%;
    }

    .titulo2-header1{
        font-size: 4em;
        position: absolute;
        top: 48%;
        color: $color-secondary;
    }

    .slogan1{
        font-size: 20px;
        color: $color-secondary;
        position: absolute;
        top: 90%;
        left: 22%;
    }
    }

/*Header - Cultura*/

.cultura{
    background-image: url(../../assets/tango.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    width: 100%;
}

div{
            
    .nav{
        display: flex;
        justify-content: center;
        padding: 10px;
    
        a{
            color: $color-secondary;
            font-size: 18px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            padding: 0 15px;
        }

        a:hover{
            color: coral;
        }
    }
}

/*Header - Contacto*/

.contacto{
    background-image: url(../../assets/fondo-contacto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    width: 100%;
}

div{
            
    .nav{
        display: flex;
        justify-content: center;
        padding: 10px;
    
        a{
            color: $color-secondary;
            font-size: 18px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            padding: 0 15px;
        }

        a:hover{
            color: coral;
        }
    }
}