$alto: 200px;
$ancho: 250;

/*Información - Inicio*/

.introduccion-contenedor{
    height: 100vh;
    padding: 100px 30px;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .introduccion{
        padding: 30px 15px;

        .republica-argentina{
            color: rgb(99, 99, 180);
            font-weight: bold;
            font-size: 20px;
        }
    }
}

/*Información - Fauna*/

.f-pampeana{
    height: 100%;
    width: 100%;
    padding: 50px 15px;
    text-align: center;
    margin:20px 0;

    .ft-pampeana {
        display: block;
    }

    div{

        img{
            height: $alto;
            width: $ancho;
        }

        h5{
            padding-top: 15px;
            text-decoration: underline;
        }
    }
}

.f-patagonica{
    height: 100%;
    width: 100%;
    padding: 50px 15px;
    text-align: center;
    margin: 20px 0;

    .ft.patagonica{
        display: block;
    }
    div{

        img{
            height: $alto;
            width: $ancho;
        }

        h5{
            padding-top: 15px;
            text-decoration: underline;
        }
    }
}

.f-noroeste{
    height: 100%;
    width: 100%;
    padding: 50px 15px;
    text-align: center;
    margin: 20px 0;
    
    .ft-noroeste{
        display: block;
    }

    div{

        img{
            height: $alto;
            width: $ancho;
        }

        h5{
            padding-top: 15px;
            text-decoration: underline;
        }
    }
}

.f-noreste{
    height: 100%;
    width: 100%;
    padding: 50px 15px;
    text-align: center;
    margin: 20px 0;

    .ft-noreste{
        display: block;
    }

    div{

        img{
            height: $alto;
            width: $ancho;
        }

        h5{
            padding-top: 15px;
            text-decoration: underline;
        }
    }
}

.f-cuyo{
    height: 100%;
    width: 100%;
    padding: 50px 15px;
    text-align: center;
    margin: 20px 0;

    .ft-cuyo{
        display: block;
    }

    div{

        img{
            height: $alto;
            width: $ancho;
        }

        h5{
            padding-top: 15px;
            text-decoration: underline;
        }
    }
}

.descripcion-fauna{
    text-align: center;
    padding: 5px 40px;
}

@media screen and (min-width: 480px){

    .descripciones{
        display: flex;
        justify-content: center;
    }
}

/*Información - Geografía*/

.contenedor-geografia2{ 
    p{
        text-align: center;

        span{
            font-size: 20px;
            font-weight: bold;
        }
    }

    img{
        height: 200px;
        width: 275px;
        position: relative;
        top: 50%;
        left: 5%;
        padding: 15px 5px;
    }
}

@media screen and (min-width: 480px){

    .contenedor-geografia{

        .contenedor-geografia2{

            img{
                position: relative;
                top: 50%;
                left: 32%;
                height: 300px;
                width: 500px;
            }

            p{
                padding: 50px;
            }
        }
    }
}

/*Información - Contacto*/

.main-contacto{
    padding: 0.3em 1.3em;

    .contenedor-contacto{
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding: 0.8em;

        .contact{
            font-size: 1.2em;
            text-align: center;
            padding-bottom: 15px;
            
            .contacto-span{
                color: rgba(2, 2, 2, 0.747);
            }
        }
    }

    .contenido-contacto{
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        padding: 1.5em;

        .contact-form {

            h3{
                padding-bottom: 1em;
            }

            form {

                p {
                    button{
                        background-color: blanchedalmond;
                        font-weight: 900;
                        border: 0;
                        padding: 0.3em;
                        width: 100%;
                        border: none;
                        border: 1px solid;
                
                        &:hover{
                            background-color:burlywood;
                        }
                    }
                }

                p {
                    input{
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid;
                    }
                }

                p {
                    textarea{
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid;
                        height: 30px;
                        transition: height 1s;

                        &:hover{
                            height: 200px;
                        }
                        }
                    }
                }
            }
        }

        .contact-info{
            background-color: #222222;
            color: rgba(255, 255, 255, 0.747);
            padding: 1.5em;

            h4{
                text-align: center;
                text-decoration:underline;
                padding-bottom: 0.7em;
            }
            ul{
                list-style: none;
            }
            
        }
}
