.introduccion-contenedor{
    height: 100vh;
    padding: 100px 30px;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.republica-argentina{
    color: rgb(99, 99, 180);
    font-weight: bold;
    font-size: 20px;
}
.introduccion p{
    padding: 30px 15px;
}
